.loginContainer {
  margin: auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login {
  padding-top: 45px;
}

a {
  text-decoration: none;
  font-size: 12px;
}

input {
  margin-top: 8px;
}

.loginText {
  color: #fff;
}

button {
  width: 100%;
  border: 1px solid #0066cc;
  background-color: #0099cc;
  border-radius: 18px;
  color: #ffffff;
  padding: 5px 10px;
}

button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

button:disabled,
button[disabled] {
  border: 1px solid #64a5ba;
  background-color: #65becf;
  color: #ffffff;
}